* {
  /*font-size: 22px;*/
  color: seashell;
  font-family: Helvetica;
  /*opacity: 0.9;*/
}

header {
  border: thin solid red;
  height: 69px;
  background-color: black;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 0px 0px;
}

.logo {
  margin: 0px 0px 0px 15px;
  opacity: 0.9;
}

.logo img {
  height: 50px;
}

nav {
  font-size: 22px;
  color: seashell;
}

nav a {
  padding: 40px 10px 0px 10px;
}

main {
  background-color: black;
  display: flex;
  justify-content: center;
}

.mission {
  display: flex;
  border: thin solid red;
  height: 700px;
  width: 1200px;
  align-items: center;
  justify-content: center;
  background-image: url(resources/img-mission-background.jpg);
}

about {
  background-color: black;
  text-align: center;
  width: 1200px;
  /*color: seashell;
  font-family: Helvetica;
  opacity: 0.9;*/
}

about h2 h4 {
  color: seashell;
  font-family: Helvetica;
  opacity: 0.9;
}

month {
  border: thin solid red;
  background-color: black;
  display: flex;
  justify-content: center;
}

.month {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.month p {
  text-align: center;
  font-size: 22px;
  margin: 0px;
  font-weight: bold;
}

steeping {
  border: thin solid red;
  text-align: center;
}

pics {
  border: thin solid red;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

pics img {
  height: 200px;
  width: 300px;
  margin: 15px;
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: row;*/
}

location {
  border: thin solid red;
  background-color: black;
  display: flex;
  justify-content: center;

}

.location {
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url(resources/img-locations-background.jpg);
  text-align: center;
  margin: 75px 0px 0px 0px;
  padding: 0px 0px 65px 0px;
}

.location p {
  text-align: center;
  font-size: 22px;
  margin: 0px;
  padding: 10px 0px;
}

head {
  border: thin solid red;
  text-align: center;
  display: flex;
  margin: 0px;
  justify-content: center;
}

places {
  border: thin solid red;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}

place1 {
  border: thin solid red;
  width: 300px;
  height: 280px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 0px 20px 0px 0px;
  background-color: black;
  opacity: 1;
}

place2 {
  border: thin solid red;
  width: 300px;
  height: 280px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 0px 20px;
  background-color: black;
  opacity: 1;
}

place3 {
  border: thin solid red;
  width: 300px;
  height: 280px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 0px 20px;
  background-color: black;
  opacity: 1;
}

footer {
  border: thin solid red;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

info {
  border: thin solid red;
  text-align: center;
  display: flex;
  /*margin: 0px;*/
  justify-content: center;
  flex-direction: column;
}

end {
  border: thin solid red;
  text-align: left;
  padding: 20px;
  justify-content: center;
}
